/* LoginForm.css */

/* Style the login form */
.LoginForm {
    padding: 20px;
    background-color: #fff; /* Login form background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the input fields */
 .credentials {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style the login button */
  .LoginForm button {
    padding: 10px 20px;
    background-color: #333; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  